{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl",
		   "src/riak_core_stat_xform"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform},
            debug_info, {platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "^R15", "old_hash"}]}.
{edoc_opts, [{preprocess, true}]}.
{eunit_opts, [verbose]}.
{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace)\" : Mod)", []}]}.

{deps, [
  {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
  {poolboy, {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
  {basho_stats, {git, "git://github.com/vertify/basho_stats.git", {branch, "develop-otp19"}}},
  {riak_sysmon, {git, "git://github.com/vertify/riak_sysmon.git", {branch, "develop-otp19"}}},
  {eleveldb, {git, "git://github.com/vertify/eleveldb.git", {branch, "develop-otp19"}}},
  {riak_ensemble, {git, "git://github.com/vertify/riak_ensemble", {branch, "develop-otp19"}}},
  {pbkdf2, {git, "git://github.com/vertify/erlang-pbkdf2.git", {branch, "develop-otp19"}}},
  {exometer_core, {git, "git://github.com/vertify/exometer_core.git", {branch, "develop-otp19"}}},
  {clique, {git, "git://github.com/basho/clique.git", {tag, "0.3.6"}}}
]}.
